# Random Forest

Random forest is an ensemble modeling technique which uses an aggregation of decision trees to reduce the inherent high variance of a single decision tree.  At each node, each individual tree votes on what the solution should be and the aggregated answer is the output of the random forest. In order to provide a wide range of individual solutions each tree **bags** random samples from a **random subspace** of the full sample set.  **Bagging** is sampling with replacement and the **random subspace** consists of only some of the features.  That is to say that random forests only see a random subset of *some* of the features.  This randomness is a key feature of the model and the main reason that random forests are usually very accurate.  


## Model Example

We will work through data from [2015 Lending Club](https://www.lendingclub.com/info/download-data.action) to predict the state of a loan given some information about it.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pld
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

%matplotlib inline

In [9]:
yr2015 = pd.read_csv('LoanStats3d.csv',
                    skipinitialspace=True,
                    header=1,
                    skipfooter=2)

/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

In [10]:
yr2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421090,36371250,39102635,10000,10000,10000.0,36 months,11.99%,332.10,B,B5,...,0,1,100.0,100.0,0,0,32950,25274,9200,15850
421091,36441262,39152692,24000,24000,24000.0,36 months,11.99%,797.03,B,B5,...,0,2,56.5,100.0,0,0,152650,8621,9000,0
421092,36271333,38982739,13000,13000,13000.0,60 months,15.99%,316.07,D,D2,...,0,3,100.0,50.0,1,0,51239,34178,10600,33239
421093,36490806,39222577,12000,12000,12000.0,60 months,19.99%,317.86,E,E3,...,1,2,95.0,66.7,0,0,96919,58418,9700,69919
421094,36271262,38982659,20000,20000,20000.0,36 months,11.99%,664.20,B,B5,...,0,1,100.0,50.0,0,1,43740,33307,41700,0

In [11]:
yr2015.dtypes

id                                  int64
member_id                           int64
loan_amnt                           int64
funded_amnt                         int64
funded_amnt_inv                   float64
term                               object
int_rate                           object
installment                       float64
grade                              object
sub_grade                          object
emp_title                          object
emp_length                         object
home_ownership                     object
annual_inc                        float64
verification_status                object
issue_d                            object
loan_status                        object
pymnt_plan                         object
url                                object
desc                               object
purpose                            object
title                              object
zip_code                           object
addr_state                         object
dti                               float64
delinq_2yrs                         int64
earliest_cr_line                   object
inq_last_6mths                      int64
mths_since_last_delinq            float64
mths_since_last_record            float64
                                   ...
mo_sin_old_rev_tl_op                int64
mo_sin_rcnt_rev_tl_op               int64
mo_sin_rcnt_tl                      int64
mort_acc                            int64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd               int64
num_actv_bc_tl                      int64
num_actv_rev_tl                     int64
num_bc_sats                         int64
num_bc_tl                           int64
num_il_tl                           int64
num_op_rev_tl                       int64
num_rev_accts                     float64
num_rev_tl_bal_gt_0                 int64
num_sats                            int64
num_tl_120dpd_2m                  float64
num_tl_30dpd                        int64
num_tl_90g_dpd_24m                  int64
num_tl_op_past_12m                  int64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies                int64
tax_liens                           int64
tot_hi_cred_lim                     int64
total_bal_ex_mort                   int64
total_bc_limit                      int64
total_il_high_credit_limit          int64
Length: 111, dtype: object

Because Decision Trees, and therefore Random Forest models, must have categorical data as inputs, we need to cull this list of inputs based on the number of unique values each has.

In [13]:
categorical = yr2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

term
2
int_rate
110
grade
7
sub_grade
35
emp_title
120812
emp_length
11
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
1
url
421095
desc
34
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
25
next_pymnt_d
4
last_credit_pull_d
26
application_type
2
verification_status_joint
3

In [14]:
# Converting interest rate to numeric
yr2015['int_rate'] = pd.to_numeric(yr2015['int_rate'].str.strip('%'), errors='coerce')

# Dropping columns with too many values
yr2015.drop(['emp_title', 'url', 'zip_code', 'addr_state', 'earliest_cr_line', 
             'revol_util'], 1, inplace=True)

In [15]:
# Testing the get_dummies method on full dataset
# Can be very memory intensive and need to be pared down
pd.get_dummies(yr2015)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,last_credit_pull_d_Nov-2016,last_credit_pull_d_Oct-2015,last_credit_pull_d_Oct-2016,last_credit_pull_d_Sep-2015,last_credit_pull_d_Sep-2016,application_type_INDIVIDUAL,application_type_JOINT,verification_status_joint_Not Verified,verification_status_joint_Source Verified,verification_status_joint_Verified
0,68009401,72868139,16000,16000,16000.0,14.85,379.39,48000.0,33.18,0,...,0,0,0,0,0,1,0,0,0,0
1,68354783,73244544,9600,9600,9600.0,7.49,298.58,60000.0,22.44,0,...,0,0,0,0,0,1,0,0,0,0
2,68466916,73356753,25000,25000,25000.0,7.49,777.55,109000.0,26.02,0,...,0,0,0,0,0,1,0,0,0,0
3,68466961,73356799,28000,28000,28000.0,6.49,858.05,92000.0,21.60,0,...,0,0,0,0,0,1,0,0,0,0
4,68495092,73384866,8650,8650,8650.0,19.89,320.99,55000.0,25.49,0,...,0,0,0,0,0,1,0,0,0,0
5,68506798,73396623,23000,23000,23000.0,8.49,471.77,64000.0,18.28,0,...,0,0,0,0,0,1,0,0,0,0
6,68566886,73456723,29900,29900,29900.0,12.88,678.49,65000.0,21.77,0,...,0,0,0,0,0,1,0,0,0,0
7,68577849,73467703,18000,18000,18000.0,11.99,400.31,112000.0,8.68,0,...,0,0,0,0,0,1,0,0,0,0
8,66310712,71035433,35000,35000,35000.0,14.85,829.90,110000.0,17.06,0,...,0,0,0,0,0,1,0,0,0,0
9,68476807,73366655,10400,10400,10400.0,22.45,289.91,104433.0,25.37,1,...,0,0,0,0,0,1,0,0,0,0
10,68341763,72928789,20000,20000,20000.0,10.78,432.66,63000.0,10.78,0,...,0,0,0,0,0,0,1,1,0,0
11,68356421,73246236,22400,22400,22400.0,12.88,508.30,95000.0,22.98,0,...,0,0,0,0,0,1,0,0,0,0
12,68426545,73316365,16000,16000,16000.0,12.88,363.07,70000.0,26.40,0,...,0,0,0,0,0,1,0,0,0,0
13,68407277,73297111,3600,3600,3600.0,13.99,123.03,55000.0,5.91,0,...,0,0,0,0,0,1,0,0,0,0
14,68355089,73244858,24700,24700,24700.0,11.99,820.28,65000.0,16.06,1,...,0,0,0,0,0,1,0,0,0,0
15,68466926,73356763,10000,10000,10000.0,6.49,306.45,85000.0,13.07,0,...,0,0,0,0,0,1,0,0,0,0
16,68338832,73542831,1400,1400,1400.0,12.88,47.10,64000.0,34.95,0,...,0,0,0,0,0,1,0,0,0,0
17,68426831,73316657,11950,11950,11950.0,13.44,405.18,34000.0,10.20,0,...,0,0,0,0,0,1,0,0,0,0
18,66624733,71350547,18000,18000,18000.0,19.48,471.70,150000.0,9.39,0,...,0,0,0,0,0,1,0,0,0,0
19,68616873,73519699,8000,8000,8000.0,11.48,263.74,42000.0,34.80,0,...,0,0,0,0,0,1,0,0,0,0
20,67275481,72077199,20000,20000,20000.0,8.49,631.26,85000.0,17.61,1,...,0,0,0,0,0,1,0,0,0,0
21,68476668,73366513,20000,20000,20000.0,9.17,637.58,180000.0,14.67,0,...,1,0,0,0,0,1,0,0,0,0
22,68476702,73366548,28000,28000,28000.0,13.44,949.38,125000.0,7.49,0,...,0,0,0,0,0,1,0,0,0,0
23,68436666,73326493,5000,5000,5000.0,13.44,169.54,79000.0,12.70,0,...,0,0,0,0,0,1,0,0,0,0
24,68596180,73485987,20000,20000,20000.0,5.32,602.30,65000.0,18.83,0,...,0,0,0,0,0,1,0,0,0,0
25,67849662,72708407,4225,4225,4225.0,14.85,146.16,35000.0,15.22,2,...,0,0,0,0,0,1,0,0,0,0
26,68526883,73416719,15000,15000,15000.0,5.32,451.73,44000.0,15.34,0,...,0,0,0,0,0,1,0,0,0,0
27,68607141,73509983,17600,17600,17600.0,5.32,530.03,88000.0,26.59,0,...,1,0,0,0,0,1,0,0,0,0
28,68476715,73366561,6000,6000,6000.0,7.49,186.61,100000.0,13.28,1,...,0,0,0,0,0,1,0,0,0,0
29,67715283,72569997,16000,16000,16000.0,12.88,538.18,65000.0,18.96,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421065,36631385,39374138,13000,13000,13000.0,8.19,408.52,85000.0,8.05,1,...,0,0,0,0,0,1,0,0,0,0
421066,36231083,38942474,15000,15000,15000.0,11.99,498.15,70000.0,8.47,0,...,0,0,0,0,0,1,0,0,0,0
421067,36691397,39434133,20000,20000,20000.0,6.99,617.46,72000.0,27.24,0,...,0,0,0,0,0,1,0,0,0,0
421068,36743377,39486112,4200,4200,4200.0,15.99,147.64,48000.0,36.93,0,...,0,0,0,0,0,1,0,0,0,0
421069,36331554,39042967,26950,26950,26950.0,8.19,846.88,54000.0,18.11,0,...,0,0,0,0,0,1,0,0,0,0
421070,36460697,39182359,23000,23000,23000.0,15.59,554.32,50000.0,31.95,0,...,0,0,0,0,0,1,0,0,0,0
421071,35773415,38468842,18700,18700,18700.0,17.86,473.44,52000.0,11.28,0,...,0,0,0,0,0,1,0,0,0,0
421072,36250801,38962184,6000,6000,6000.0,17.86,216.50,90000.0,2.84,0,...,0,0,0,0,0,1,0,0,0,0
421073,36371802,39103231,15000,15000,15000.0,11.44,329.44,57000.0,15.77,0,...,0,0,0,0,0,1,0,0,0,0
421074,36440728,39152101,25000,25000,25000.0,15.99,607.82,103000.0,5.27,0,...,0,0,0,0,0,1,0,0,0,0
421075,36361815,39093260,26500,26500,26500.0,8.67,545.87,92000.0,29.60,1,...,0,0,0,0,0,1,0,0,0,0
421076,35591131,38288343,25000,25000,25000.0,15.59,602.52,55000.0,5.52,0,...,0,0,0,0,0,1,0,0,0,0
421077,36201871,38913321,21000,21000,21000.0,6.03,639.15,65000.0,17.09,0,...,0,0,0,0,0,1,0,0,0,0
421078,36381756,39013193,8000,8000,8000.0,8.19,251.40,50000.0,17.62,0,...,0,0,0,0,0,1,0,0,0,0
421079,36231724,38943173,12000,12000,12000.0,9.49,384.34,40000.0,25.65,1,...,0,0,1,0,0,1,0,0,0,0
421080,36301729,39023153,10000,10000,10000.0,6.49,306.45,75000.0,33.66,0,...,0,0,0,0,0,1,0,0,0,0
421081,36250208,38961532,13150,13150,13150.0,14.99,312.77,30000.0,1.00,0,...,0,0,0,0,0,1,0,0,0,0
421082,36241316,38952731,6225,6225,6225.0,16.49,220.37,27000.0,18.58,0,...,0,0,0,0,0,1,0,0,0,0
421083,36231718,38943165,10775,10775,10775.0,6.03,327.95,54000.0,13.22,1,...,0,0,0,0,0,1,0,0,0,0
421084,36381704,39013139,7000,7000,7000.0,14.31,240.30,57000.0,16.80,2,...,0,0,0,0,0,1,0,0,0,0
421085,36421485,39142898,4000,4000,4000.0,8.67,126.59,50000.0,12.63,0,...,0,0,1,0,0,1,0,0,0,0
421086,35094480,37777829,7500,7500,7500.0,9.49,240.22,40000.0,25.63,0,...,0,0,0,0,0,1,0,0,0,0
421087,36260758,38972123,10850,10850,10850.0,19.24,399.04,32000.0,29.44,0,...,0,0,1,0,0,1,0,0,0,0
421088,36221446,38932858,11575,11575,11575.0,15.59,404.61,25400.0,27.08,0,...,1,0,0,0,0,1,0,0,0,0
421089,36330911,39042282,12000,12000,12000.0,11.99,398.52,63000.0,23.69,1,...,0,0,0,0,0,1,0,0,0,0
421090,36371250,39102635,10000,10000,10000.0,11.99,332.10,31000.0,28.69,0,...,0,0,0,0,0,1,0,0,0,0
421091,36441262,39152692,24000,24000,24000.0,11.99,797.03,79000.0,3.90,0,...,0,0,0,0,0,1,0,0,0,0
421092,36271333,38982739,13000,13000,13000.0,15.99,316.07,35000.0,30.90,0,...,0,0,0,0,0,1,0,0,0,0
421093,36490806,39222577,12000,12000,12000.0,19.99,317.86,64400.0,27.19,1,...,0,0,1,0,0,1,0,0,0,0
421094,36271262,38982659,20000,20000,20000.0,11.99,664.20,100000.0,10.83,0,...,0,0,0,0,0,1,0,0,0,0

In [16]:
# Instantiating the model

rfc = ensemble.RandomForestClassifier()

X = yr2015.drop('loan_status', 1)
X = pd.get_dummies(X)
# Dropping NA instead of imputing because data is probably rich enough
X = X.dropna(axis=1)
Y = yr2015['loan_status']

cross_val_score(rfc, X, Y, cv=10)

/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.97962528, 0.98026644, 0.98157251, 0.98159626, 0.97751128,
       0.98019473, 0.94609228, 0.98033675, 0.97981333, 0.98040659])

That's some great cross validation, but the model is bloated.  Let's see if we can trim down the input data to strictly what's necessary to get CV scores ~90%

In [18]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y)

In [19]:
rfc.fit(x_train, y_train)

/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [61]:
rfc1_fi = rfc.feature_importances_
indicies = np.argsort(rfc1_fi)
feat_names = X.columns

In [76]:
# Reverse order list of top 30 features in model
top_thirty_features = []

for i in indicies[-30:]:
    print(f'{i}.  {feat_names[i]}')
    top_thirty_features.append(feat_names[i])

222.  last_pymnt_d_Jul-2016
1.  member_id
21.  total_rec_late_fee
5.  int_rate
213.  last_pymnt_d_Aug-2016
217.  last_pymnt_d_Feb-2016
242.  last_credit_pull_d_Aug-2016
224.  last_pymnt_d_Jun-2016
6.  installment
20.  total_rec_int
2.  loan_amnt
234.  last_pymnt_d_Sep-2016
4.  funded_amnt_inv
3.  funded_amnt
18.  total_pymnt_inv
232.  last_pymnt_d_Oct-2016
245.  last_credit_pull_d_Dec-2016
23.  collection_recovery_fee
22.  recoveries
230.  last_pymnt_d_Nov-2016
262.  last_credit_pull_d_Oct-2016
235.  next_pymnt_d_Feb-2017
215.  last_pymnt_d_Dec-2016
17.  total_pymnt
19.  total_rec_prncp
250.  last_credit_pull_d_Jan-2017
220.  last_pymnt_d_Jan-2017
16.  out_prncp_inv
24.  last_pymnt_amnt
15.  out_prncp

The feature names with dates attached are from the one-hot encoding.  I will incorporate the base feature into the next model.

In [78]:
# From the top 30 encoded features is a list of 14 base features for the next model.
x1 = yr2015.loc[:, 
                ['loan_amnt',
                'funded_amnt_inv',
                'funded_amnt',
                'total_pymnt_inv',
                'collection_recovery_fee',
                'recoveries',
                'next_pymnt_d',
                'total_pymnt',
                'total_rec_prncp',
                'last_credit_pull_d',
                'last_pymnt_d',
                'out_prncp_inv',
                'last_pymnt_amnt',
                'out_prncp']]

In [79]:
x1.head()

,loan_amnt,funded_amnt_inv,funded_amnt,total_pymnt_inv,collection_recovery_fee,recoveries,next_pymnt_d,total_pymnt,total_rec_prncp,last_credit_pull_d,last_pymnt_d,out_prncp_inv,last_pymnt_amnt,out_prncp
0,16000,16000.0,16000,4519.68,0.0,0.0,Jan-2017,4519.68,2331.12,Jan-2017,Jan-2017,13668.88,379.39,13668.88
1,9600,9600.0,9600,3572.97,0.0,0.0,Jan-2017,3572.97,2964.31,Jan-2017,Jan-2017,6635.69,298.58,6635.69
2,25000,25000.0,25000,26224.23,0.0,0.0,NaN,26224.23,25000.00,Jan-2017,Sep-2016,0.00,20807.39,0.00
3,28000,28000.0,28000,10271.36,0.0,0.0,Jan-2017,10271.36,8736.23,Jan-2017,Jan-2017,19263.77,858.05,19263.77
4,8650,8650.0,8650,9190.49,0.0,0.0,NaN,9190.49,8650.00,Jun-2016,May-2016,0.00,8251.42,0.00

In [83]:
x1 = pd.get_dummies(x1)
x1 = x1.dropna(axis=1)
y1 = Y

rfc1 = ensemble.RandomForestClassifier()

cross_val_score(rfc1, x1, y1, cv=10)

/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/mkfrancsis/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.96815559, 0.97214505, 0.9772506 , 0.98088385, 0.96943719,
       0.97492282, 0.97249994, 0.97869814, 0.97176241, 0.98100033])

Those are still great scores.  Will continue to pare down the model - trying to get ~90% CV scores with the least amount of input data.

In [85]:
# Model with just the top four features

x2 = yr2015.loc[:,
               ['last_pymnt_d',
                'out_prncp_inv',
                'last_pymnt_amnt',
                'out_prncp']]
x2 = x2.dropna(axis=1)
x2 = pd.get_dummies(x2)

y2 = y1

rfc2 = ensemble.RandomForestClassifier(n_estimators=10)

cross_val_score(rfc2, x2, y2, cv=10)

array([0.87361972, 0.93574126, 0.91394173, 0.94267531, 0.94101164,
       0.93478984, 0.91569498, 0.9261678 , 0.93758757, 0.93908232])

That's probably about right.  While the CV scores have some variance, that could most likely be alleviated by increasing the number of estimators.